body{
    background: #141414;
    font-family: 'Times New Roman', Times, serif;
    color: white;
     
 }
 

.video > iframe {
    position:absolute;
       top: 15%;
       left: 9%;
       right: 9%;
       width: 80%;
       height: 80%;
       

}